{{define "title"}} - Forbidden{{end}}
{{define "content"}}
    <div class="ui basic segment">
        <div class="ui warning icon message">
            <i class="ban icon"></i>
            <div class="content">
                <div class="header">Forbidden</div>
                <p>You are not allowed to access this resource.</p>
            </div>
        </div>
    </div>
{{end}}