{{define "title"}} - Not found{{end}}
{{define "content"}}
    <div class="ui basic segment">
        <div class="ui warning icon message">
            <i class="plug icon"></i>
            <div class="content">
                <div class="header">Not found</div>
                <p>The resource you tried to reach is not available.</p>
            </div>
        </div>
    </div>
{{end}}