{{define "title"}} - {{ .StatusText }}{{end}}
{{define "content"}}
    <div class="ui basic segment">
        <div class="ui error icon message">
            <i class="bug icon"></i>
            <div class="content">
                <div class="header">{{ .StatusText }}</div>
                <p>The server could not handle your request due to an internal error.</p>
            </div>
        </div>
    </div>
{{end}}