{{define "title"}} - Admin password reset{{end}}
{{define "content"}}
    <div class="ui basic segment">
        <h1 class="ui header">Change the email password of a user</h1>
        <p>You can request a password change for a CAcert email password using the form below.</p>
        <form class="ui form{{ if .Form.Errors }} error{{ end }}" method="post">
            {{ csrfField .Request }}
            {{ $email := .Form.Email }}
            <div class="required field{{ if .Form.Errors.Email }} error{{ end }}">
                <label for="email-field">Email address</label>
                <select id="email-field" name="Email">
                    <option {{ if "" | eq $email }}selected {{ end }}value="">---</option>
                    {{ range .Form.Emails }}
                        <option {{ if . | eq $email }}selected {{ end }}value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
            </div>
            {{ if .Form.Errors.Email }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.Email }}</p>
                </div>
            {{ end }}
            <div class="required field{{ if .Form.Errors.NewPassword }} error{{ end }}">
                <label for="new-password-field">New password</label>
                <input id="new-password-field" type="password" name="NewPassword"
                       value="{{ .Form.NewPassword}}"
                       required placeholder="New password"/>
            </div>
            {{ if .Form.Errors.NewPassword }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.NewPassword }}</p>
                </div>
            {{ end }}
            <div class="required field{{ if .Form.Errors.PasswordRepeat }} error{{ end }}">
                <label for="repeat-password-field">Repeat new password</label>
                <input id="repeat-password-field" type="password" name="PasswordRepeat"
                       value="{{ .Form.PasswordRepeat }}"
                       required placeholder="New password (repeated)">
            </div>
            {{ if .Form.Errors.PasswordRepeat }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.PasswordRepeat }}</p>
                </div>
            {{ end }}
            <div class="required field{{ if.Form.Errors.Remarks }} error{{ end }}">
                <label for="remarks-field">Reasoning behind the change</label>
                <textarea id="remarks-field" rows="2" name="Remarks">{{ .Form.Remarks }}</textarea>
            </div>
            {{ if .Form.Errors.Remarks }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.Remarks }}</p>
                </div>
            {{ end }}
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
{{end}}