{{define "title"}} - Create new email account{{end}}
{{define "content"}}
    <div class="ui basic segment">
        <h1 class="ui header">Create a new email account</h1>
        <div class="ui info message">
            <p>New email accounts should only be created upon request of a team lead or board member.</p>
            <p>Passwords for the new accounts will be generated and a one time password reset link will be sent to the
                specified contact email address.</p>
            <p>Email account creation is logged and a notification email is sent to the email-admin@cacert.org
                alias.</p>
        </div>
        <form class="ui form{{ if .Form.Errors }} error{{ end }}" method="post">
            {{ csrfField .Request }}
            {{ $realName := .Form.RealName }}
            <div class="required field{{ if .Form.Errors.RealName }} error{{ end }}">
                <label for="real-name-field">Real name</label>
                <input id="real-name-field" type="text" name="RealName" value="{{ .Form.RealName }}" required
                       placeholder="Real name of the email user"/>
            </div>
            {{ if .Form.Errors.RealName }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.RealName }}</p>
                </div>
            {{ end }}
            <div class="required field{{ if .Form.Errors.ContactEmail }} error{{ end }}">
                <label for="contact-email-field">Contact email</label>
                <input id="contact-email-field" type="email" name="ContactEmail" value="{{ .Form.ContactEmail }}"
                       required placeholder="Contact email address of the email user"/>
            </div>
            {{ if .Form.Errors.ContactEmail }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.ContactEmail }}</p>
                </div>
            {{ end }}
            <div class="required field{{ if .Form.Errors.UserName }} error{{ end }}">
                <label for="user-name-field">User name</label>
                <input id="user-name-field" type="text" name="UserName" value="{{ .Form.UserName }}" required
                       placeholder="User name for the email address"/>
            </div>
            {{ if .Form.Errors.UserName }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.UserName }}</p>
                </div>
            {{ end }}
            <div class="required field{{ if .Form.Errors.FullNameAlias }} error{{ end }}">
                <label for="full-name-alias-field">Full name alias</label>
                <input id="full-name-alias-field" type="text" name="FullNameAlias" value="{{ .Form.FullNameAlias }}"
                       required placeholder="Full name alias for the email address"/>
            </div>
            {{ if .Form.Errors.FullNameAlias }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.FullNameAlias }}</p>
                </div>
            {{ end }}
            <div class="field{{ if .Form.Errors.FullNameAlias2 }} error{{ end }}">
                <label for="full-name-alias2-field">Second full name alias</label>
                <input id="full-name-alias2-field" type="text" name="FullNameAlias2" value="{{ .Form.FullNameAlias2 }}"
                       placeholder="Optional second full name alias for the email address"/>
            </div>
            {{ if .Form.Errors.FullNameAlias2 }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.FullNameAlias2 }}</p>
                </div>
            {{ end }}
            <div class="field{{ if.Form.Errors.Role }} error{{ end }}">
                <label for="role-field">Role of the user within CAcert (this will be displayed in the <a href="/staff">Staff
                        list</a>)</label>
                <input id="role-field" type="text" name="Role" value="{{ .Form.Role }}"/>
            </div>
            {{ if .Form.Errors.Role }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.Role }}</p>
                </div>
            {{ end }}
            <div class="required field{{ if.Form.Errors.Remarks }} error{{ end }}">
                <label for="remarks-field">Reasoning behind the change</label>
                <textarea id="remarks-field" rows="2" name="Remarks">{{ .Form.Remarks }}</textarea>
            </div>
            {{ if .Form.Errors.Remarks }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.Remarks }}</p>
                </div>
            {{ end }}
            <button class="ui button" type="submit">Create email account</button>
        </form>
    </div>
{{end}}
{{- /* TODO: add helper JavaScript to derive suggestion for FullNameAlias from RealName */ -}}