{{define "title"}} - Dashboard{{end}}
{{define "content"}}
    {{ if .Certificate }}
        <div class="ui basic segment">
            <div class="ui icon message">
                <i class="id badge icon"></i>
                <div class="content">
                    <div class="header">Welcome to the community self service system</div>
                    <p>You have been authenticated with a client certificate.</p>

                    <div class="ui fluid card">
                        <div class="content">
                            {{ with .Certificate }}
                                <div class="header">
                                    {{ with .Subject }}{{ .CommonName }}{{ end }}
                                </div>
                            {{ end }}
                            <div class="ui relaxed divided list">
                                <div class="item">
                                    <i class="mail icon"></i>
                                    <div class="content">
                                        <div class="header">Email addresses</div>
                                        <div class="ui list">
                                            {{ range .Emails }}
                                                <div class="item">
                                                    <div class="content">{{ . }}</div>
                                                </div>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                                {{ with .Certificate }}
                                    <div class="item">
                                        <i class="certificate icon"></i>
                                        <div class="content">
                                            <div class="header">Issued by</div>
                                            <div class="description">{{ with .Issuer }}{{ .CommonName }}{{ end }}</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="barcode icon"></i>
                                        <div class="content">
                                            <div class="header">Serial number</div>
                                            <div class="description">{{ .SerialNumber }} ({{ .SerialNumber | hex }})
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="hourglass half icon"></i>
                                        <div class="content">
                                            <div class="header">Valid until</div>
                                            <div class="description">{{ .NotAfter | date "2006-01-02 15:04:03 MST" }}</div>
                                        </div>
                                    </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ else}}
        <div class="ui basic segment">
            <div class="ui icon info message">
                <i class="users icon"></i>
                <div class="content">
                    <div class="header">CAcert users only</div>
                    <p>The CAcert community self service is available for CAcert community member only.</p>
                    <p>You need a valid client certificate that is signed by one of hour
                        <a href="http://www.cacert.org/index.php?id=3">CA certificates</a> to use this service.</p>
                </div>
            </div>
        </div>
    {{ end}}
{{end}}