{{define "title"}} - Set initial password{{end}}
{{define "content"}}
    <div class="ui basic segment">
        <h1 class="ui header">Set your initial email password</h1>
        <p>Please enter the desired password for your cacert.org email account below.</p>
        <form class="ui form{{ if .Form.Errors }} error{{ end }}" method="post">
            {{ csrfField .Request }}
            <input type="hidden" name="InitialToken" value="{{ .TokenString }}">
            <div class="required field{{ if .Form.Errors.NewPassword }} error{{ end }}">
                <label for="new-password-field">New password</label>
                <input id="new-password-field" type="password" name="NewPassword"
                       value="{{ .Form.NewPassword}}"
                       required placeholder="New password"/>
            </div>
            {{ if .Form.Errors.NewPassword }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.NewPassword }}</p>
                </div>
            {{ end }}
            <div class="required field{{ if .Form.Errors.PasswordRepeat }} error{{ end }}">
                <label for="repeat-password-field">Repeat new password</label>
                <input id="repeat-password-field" type="password" name="PasswordRepeat"
                       value="{{ .Form.PasswordRepeat }}"
                       required placeholder="New password (repeated)">
            </div>
            {{ if .Form.Errors.PasswordRepeat }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.PasswordRepeat }}</p>
                </div>
            {{ end }}
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
{{end}}