{{define "title"}} - Process finished{{end}}
{{define "content"}}
    <div class="ui basic segment">
        <div class="content">
            <h1>Process finished</h1>
            <p>Your request has been processed successfully. Your community email account is now usable.</p>
        </div>
    </div>
    <div class="ui basic segment">
        <div class="ui icon info message">
            <i class="help icon"></i>
            <div class="content">
                <div class="header">Community Email Information</div>
                <p>Details on how to access your account can be found on this <a
                            href="http://wiki.cacert.org/wiki/CommunityEmail">wiki page</a>.</p>
            </div>
        </div>
    </div>
{{end}}