{{define "title"}} - Password reset{{end}}
{{define "content"}}
    <div class="ui basic segment">
        <h1 class="ui header">Change your email password</h1>
        <p>You can request a change of your CAcert email password using the form below.</p>
        <form class="ui form{{ if .Form.Errors }} error{{ end }}" method="post">
            {{ csrfField .Request }}
            {{ $email := .Form.Email }}
            {{ if .Emails | len | gt 1 }}
                <div class="required field{{ if .Form.Errors.Email }} error{{ end }}">
                    <label for="email-field">Email address</label>
                    <select id="email-field" name="Email">
                        {{ range .Emails }}
                            <option {{ if . | eq $email }}selected {{ end }}value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </select>
                </div>
                {{ if .Form.Errors.Email }}
                    <div class="ui error message">
                        <p>{{ .Form.Errors.Email }}</p>
                    </div>
                {{ end }}
            {{ else }}
                <input type="hidden" name="Email" value="{{ .Form.Email }}"/>
            {{ end }}
            <div class="required field{{ if .Form.Errors.NewPassword }} error{{ end }}">
                <label for="new-password-field">New password</label>
                <input id="new-password-field" type="password" name="NewPassword"
                       value="{{ .Form.NewPassword}}"
                       required placeholder="New password"/>
            </div>
            {{ if .Form.Errors.NewPassword }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.NewPassword }}</p>
                </div>
            {{ end }}
            <div class="required field{{ if .Form.Errors.PasswordRepeat }} error{{ end }}">
                <label for="repeat-password-field">Repeat new password</label>
                <input id="repeat-password-field" type="password" name="PasswordRepeat"
                       value="{{ .Form.PasswordRepeat }}"
                       required placeholder="New password (repeated)">
            </div>
            {{ if .Form.Errors.PasswordRepeat }}
                <div class="ui error message">
                    <p>{{ .Form.Errors.PasswordRepeat }}</p>
                </div>
            {{ end }}
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
    <div class="ui basic segment">
        <div class="ui icon info message">
            <i class="help icon"></i>
            <div class="content">
                <div class="header">Community Email Information</div>
                <p>Details on how to access your account can be found on this <a
                            href="http://wiki.cacert.org/wiki/CommunityEmail">wiki page</a>.</p>
            </div>
        </div>
    </div>
{{end}}