{{define "title"}} - Staff list{{end}}
{{define "content"}}
    <div class="ui basic segment">
        <h1 class="ui header">CAcert staff</h1>
        {{ if .StaffMembers }}
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Real name</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                {{ range .StaffMembers }}
                    <tr>
                        <td>{{ .Username }}</td>
                        <td>{{ .RealName }}</td>
                        <td>{{ .Role }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        {{ else }}
            <div class="ui icon message">
                <i class="user outline icon"></i>
                <div class="content">
                    <p>We have no staff.</p>
                </div>
            </div>
        {{ end }}
    </div>
    <div id="#aliases" class="ui basic segment">
        <h1 class="ui header">CAcert Email Aliases</h1>
        {{ if .Aliases }}
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Alias</th>
                    <th>Forwarded to</th>
                </tr>
                </thead>
                <tbody>
                {{ range .Aliases }}
                    <tr>
                        <td>{{ .Alias }}</td>
                        <td>{{ .Targets | join ", " }}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        {{ else }}
            <div class="ui icon message">
                <i class="mail outline icon"></i>
                <div class="content">
                    <p>We have no email aliases.</p>
                </div>
            </div>
        {{ end }}
    </div>
{{end}}