{{ define "base" }}
<!doctype html>
<html>
<head>
    <title>CAcert Community Self Service{{block "title" .}}{{end}}</title>
    {{block "style" .}}{{end}}
</head>
<body id="cacert-selfservice">
<div class="pusher">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui left secondary container">
            <img src="/static/images/CAcert-logo-colour.svg" alt="CAcert" height="40rem"/>
        </div>
        <div class="ui text container">
            <h1 class="ui header">
                {{ block "pagetitle" . }}Community Self Service{{ end }}
            </h1>
        </div>
    </div>
</div>
<div class="ui container">
    {{ block "topmenu" . }}{{ end }}
    {{ if .Flashes }}
        {{ with .Flashes }}
            <div class="ui basic segment">
                {{ range . }}
                <div class="ui {{ .Severity }} message">
                    <i class="close icon"></i>
                    {{ if .Header }}<div class="header"></div>{{ end }}
                    <p>{{ .Message }}</p>
                </div>
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
    {{template "content" .}}
</div>
<footer>{{block "footer" .}} {{end}}</footer>
{{block "js" .}}{{end}}
</body>
</html>
{{ end }}