{{ define "js" }}
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/semantic.min.js"></script>
    <script type="text/javascript">
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .fadeOut();
            });
    </script>
{{ end }}