{{ define "topmenu" }}
    {{ if .TopMenu }}
        <div class="ui basic segment">
            <div class="ui secondary pointing stackable menu">
                {{ $active := .TopMenu.Active }}
                {{ range .TopMenu.Entries }}
                    <a href="{{ .Href }}" class="{{ if .Name | eq $active }}active {{ end }}item">{{ .Title }}</a>
                {{ end}}
            </div>
        </div>
    {{ end }}
{{ end }}